$primary-color: blue;
$secondary-color: white;
$accent-color: green;

$mobile: 600px;
$tablet: 900px;

$body-text: 18px;
$normal-text: 24px;
$sub-heading-text: 36px;
$heading-text: 54px;

.footer__text__email {
    font-size: 1.5rem;
}
