.footer {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  height: 30vh;
  padding: 3rem;

  &__text {
    width: 50%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__email {
      font-size: 2.5rem;
    }
  }

  &__links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    &__site,
    &__social {
      display: flex;
      font-size: $body-text;
      flex-direction: column;
      justify-content: space-around;
      a {
        text-decoration: none;
        color: $secondary-color;
      }
    }
  }
}
