<!DOCTYPE html>
<html>
  <head>
    <title>Aparoksha</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <!-- Meta Tags-->
    <meta
      name="description"
      content="Aparoksha'22 - The Technical Fest of IIIT Allahabad"
    />
    <meta
      name="keywords"
      content="apk, aparoksha, 2022, iiit, iiita, iiit allahabad, cultural fest,technical fest, fest,technical, cultural, techfest, 
 apk22, 
 tryst, allahabad,cognizance"
    />
    <meta name="author" content="Aparoksha'22" />
    <link href="./../styles/main.css" rel="stylesheet" type="text/css" />
    <script
      src="https://kit.fontawesome.com/cac593b958.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css"
      integrity="sha512-bSncow0ApIhONbz+pNI52n0trz5fMWbgteHsonaPk42JbunIeM9ee+zTYAUP1eLPky5wP0XZ7MSLAPxKkwnlzw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script type="module" src="./../src/main.js"></script>
    <link
      rel="shortcut icon"
      href="/assets/img/favicon.ico"
      type="image/x-icon"
    />
  </head>

  <body>
    <!-- put here content that will not change
      between your pages, like <header> or <nav> -->

    <div id="scene-container"></div>
    <div class="overlay"></div>
    <header>
      <div class="header">
        <a href="/index.html">
          <img src="./../assets/apklogo.svg" class="header__logo" />
        </a>

        <div class="header__menu-btn">
          <span class="header__menu-btn__burger"></span>
        </div>
        <nav class="header__navbar">
          <ul class="header__navbar__navlinks">
            <li class="header__navbar__navlink">
              <a href="../index.html">Home</a>
            </li>
            <li class="header__navbar__navlink">
              <a href="./events.html">Events</a>
            </li>
            <li class="header__navbar__navlink">
              <a href="./tech-events.html">Tech-Events</a>
            </li>
            <li class="header__navbar__navlink">
              <a href="./sponsors.html">Sponsors</a>
            </li>
            <li class="header__navbar__navlink">
              <a href="./contact.html">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div data-barba="wrapper" class="mainParent">
      <main
        data-barba="container"
        data-barba-namespace="techevent"
        style="padding: top 0.5rem"
      >
        <!--div class="techEvents" style="display: none;">
          <a href="./coding-events.html"> Coding Events</a>
          <a href="./developer-design.html"> Developer-Design Events</a>
          <a href="./electronic-event.html"> Electronic Events</a>
          <a href="./cybersec-quizzing.html"> Cybersecurity and Quizzing Events</a>
        </div-->
        <div class="techevents-container">
          <div
            class="headers glitches tech-events-heading noselect"
            data-glitch="Tech Events"
          >
            Tech Events
          </div>

          <div class="tech-event-cards-holder">
            <div
              class="techevent-card"
              id="coding-events-card"
              data-bg="/proard.c3ae76ac.png"
            >
              <div class="te-card-inner">
                <div class="te-content-box">
                  <div class="te-content-inner">
                    <h1>Coding Events</h1>
                    <hr />
                    <ul class="coding-events-ul">
                      <li>
                        <a
                          href="./coding-events.html"
                          onmouseenter="hoverEnter('coding-events-card');"
                          onmouseleave="hoverExit('coding-events-card');"
                          data-bg="/humblefool.db01b076.png"
                        >
                          Humblefool Cup</a
                        >
                      </li>
                      <li>
                        <a
                          href="./coding-events.html"
                          onmouseenter="hoverEnter('coding-events-card');"
                          onmouseleave="hoverExit('coding-events-card');"
                          data-bg="/codered.995a4fbd.png"
                        >
                          CodeRed</a
                        >
                      </li>
                      <li>
                        <a
                          href="./coding-events.html"
                          onmouseenter="hoverEnter('coding-events-card');"
                          onmouseleave="hoverExit('coding-events-card');"
                          data-bg="/alkhwarizm.7b4de79e.png"
                        >
                          Alkhwarizm</a
                        >
                      </li>
                      <li>
                        <a
                          href="./coding-events.html"
                          onmouseenter="hoverEnter('coding-events-card');"
                          onmouseleave="hoverExit('coding-events-card');"
                          data-bg="/codequeen.c879a789.png"
                        >
                          CodeQueen</a
                        >
                      </li>
                      <li>
                        <a
                          href="./coding-events.html"
                          onmouseenter="hoverEnter('coding-events-card');"
                          onmouseleave="hoverExit('coding-events-card');"
                          data-bg="/cfresh.a6180e8c.png"
                        >
                          C-Fresh</a
                        >
                      </li>
                      <li>
                        <a
                          href="./coding-events.html"
                          onmouseenter="hoverEnter('coding-events-card');"
                          onmouseleave="hoverExit('coding-events-card');"
                          data-bg="/decode.35c90e8c.jpg"
                        >
                          Decode</a
                        >
                      </li>
                      <li>
                        <a
                          href="./coding-events.html"
                          onmouseenter="hoverEnter('coding-events-card');"
                          onmouseleave="hoverExit('coding-events-card');"
                          data-bg="/lang-challenge.eee494dc.png"
                        >
                          Lang Challenge</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="techevent-card"
              id="ece-events-card"
              data-bg="/proard.c3ae76ac.png"
            >
              <div class="te-card-inner">
                <div class="te-content-box">
                  <div class="te-content-inner">
                    <h1>ECE Events</h1>
                    <hr />
                    <ul class="coding-events-ul">
                      <li>
                        <a
                          href="./electronic-event.html"
                          onmouseenter="hoverEnter('ece-events-card');"
                          onmouseleave="hoverExit('ece-events-card');"
                          data-bg="/topbot.ae044b3d.png"
                        >
                          Top Bot 6.0</a
                        >
                      </li>
                      <li>
                        <a
                          href="./electronic-event.html"
                          onmouseenter="hoverEnter('ece-events-card');"
                          onmouseleave="hoverExit('ece-events-card');"
                          data-bg="/electrobuzz.eafcbea5.png"
                        >
                          Electrobuzz</a
                        >
                      </li>
                      <li>
                        <a
                          href="./electronic-event.html"
                          onmouseenter="hoverEnter('ece-events-card');"
                          onmouseleave="hoverExit('ece-events-card');"
                          data-bg="/proard.c3ae76ac.png"
                        >
                          Pro-Arduino</a
                        >
                      </li>
                      <li>
                        <a
                          href="./electronic-event.html"
                          onmouseenter="hoverEnter('ece-events-card');"
                          onmouseleave="hoverExit('ece-events-card');"
                          data-bg="/circuit-debugging.c9b83b9b.png"
                        >
                          Circuit Debugging</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="techevent-card"
              id="design-events-card"
              data-bg="/proard.c3ae76ac.png"
            >
              <div class="te-card-inner">
                <div class="te-content-box">
                  <div class="te-content-inner">
                    <h1>Design and Development</h1>
                    <hr />
                    <ul class="coding-events-ul">
                      <li>
                        <a
                          href="./developer-design.html"
                          onmouseenter="hoverEnter('design-events-card');"
                          onmouseleave="hoverExit('design-events-card');"
                          data-bg="/webkriti.e03b386e.png"
                        >
                          WebKriti</a
                        >
                      </li>
                      <li>
                        <a
                          href="./developer-design.html"
                          onmouseenter="hoverEnter('design-events-card');"
                          onmouseleave="hoverExit('design-events-card');"
                          data-bg="/mad.89ed3c0d.jpg"
                        >
                          M.A.D</a
                        >
                      </li>
                      <li>
                        <a
                          href="./developer-design.html"
                          onmouseenter="hoverEnter('design-events-card');"
                          onmouseleave="hoverExit('design-events-card');"
                          data-bg="/nova.e8c7a8fe.jpg"
                        >
                          Nova</a
                        >
                      </li>
                      <li>
                        <a
                          href="./developer-design.html"
                          onmouseenter="hoverEnter('design-events-card');"
                          onmouseleave="hoverExit('design-events-card');"
                          data-bg="/Minimalmania.f34af7ba.png"
                        >
                          Minimalmania</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="techevent-card"
              id="cybersec-events-card"
              data-bg="/proard.c3ae76ac.png"
            >
              <div class="te-card-inner">
                <div class="te-content-box">
                  <div class="te-content-inner">
                    <h1>Cybersec and Quizzing</h1>
                    <hr />
                    <ul class="coding-events-ul">
                      <li>
                        <a
                          href="./cybersec-quizzing.html"
                          onmouseenter="hoverEnter('cybersec-events-card');"
                          onmouseleave="hoverExit('cybersec-events-card');"
                          data-bg="/humblefool.db01b076.png"
                        >
                          Boot2root</a
                        >
                      </li>
                      <li>
                        <a
                          href="./cybersec-quizzing.html"
                          onmouseenter="hoverEnter('cybersec-events-card');"
                          onmouseleave="hoverExit('cybersec-events-card');"
                          data-bg="/grayhound.dee83f8b.png"
                        >
                          GrayHound</a
                        >
                      </li>
                      <li>
                        <a
                          href="./cybersec-quizzing.html"
                          onmouseenter="hoverEnter('cybersec-events-card');"
                          onmouseleave="hoverExit('cybersec-events-card');"
                          data-bg="/googler.75207549.png"
                        >
                          Mr. Googler</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer>
      <div class="footer">
        <div class="footer__text">
          <p>We'd Love to hear from you</p>
          <a
            href="mailto:team@aparoksha.org"
            style="cursor: pointer; color: white"
          >
            <p class="footer__text__email">team@aparoksha.org</p>
          </a>
        </div>
        <div class="footer__links">
          <ul class="footer__links__site">
            <li><a href="./events.html"> Events</a></li>
            <li><a href="./tech-events.html">TechEvents</a></li>
            <li><a href="./sponsors.html">Sponsors</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </ul>
          <ul class="footer__links__social">
            <li>
              <a href="https://www.facebook.com/aparoksha/" target="_blank">
                <i class="fa-brands fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/aparokshaiiita/"
                target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/aparoksha-iiit-allahabad"
                target="_blank"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/aparoksha_org" target="_blank"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/c/AparokshaIIITAllahabad"
                target="_blank"
                ><i class="fa-brands fa-youtube"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script>
      function hoverEnter(id) {
        // let ce = document.getElementById(id);
        // ce.style = `background-image: url();`;
      }
      function hoverExit(id) {
        // let ce = document.getElementById(id);
        // ce.style = `background-image: url(${ce.dataset.bg});`;
      }
    </script>
  </body>
</html>
