.contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;

    &__info {
      font-size: 1.1rem;
      p {
        margin: 1rem 0;
      }
    }
  }
  &__map {
    width: 50%;
  }
}
